:root {
  font-family:
    Pretendard, Arial, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  background: #e9e5ed;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}